@font-face {
    font-family: 'astera';
    src: url('astera-webfont.woff2') format('woff2'),
         url('astera-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #202020;
    color: #aaaaaa;
    font-family: verdana;
    font-size: 14pt;
}

h1 {
    font-size: 50pt;
    color: #78ffff;
    text-align: center;
    font-family: astera;

}

h2 {
    font-size: 30pt;
    color: #78ffff;
    font-family: verdana;

}

h3 {
    font-size: 20pt;
    color: #78ffff;
    font-family: verdana;
    margin-bottom: 5px;
}

a {
    color: #ff78ff;
    font-family: verdana;
    text-decoration: none;
}

b {
    color: #78ffff;
}